@model SMC_UI.Models.Result.ResultUpdateDto

<div class="modal fade" id="editResult" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Result</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editResultform" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" />
                    <input hidden asp-for="StudentId" />
                    <div class="form-group">
                        <input asp-for="Marks" class="form-control" placeholder="Marks">
                        <span asp-validation-for="Marks" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select asp-for="CourseId" asp-items="@( new SelectList (Model.Courses, "Id", "Name"))" class="form-control">
                            <option value="">Select Course</option>
                        </select>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select asp-for="ExamId" asp-items="@( new SelectList (Model.Exams, "Id", "Name"))" class="form-control">
                            <option value="">Select Course</option>
                        </select>
                        <span asp-validation-for="ExamId" class="text-danger"></span>
                    </div>
                    <hr>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a onClick="saveEditResult()" class="btn btn-success">Update</a>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}